In [2]:
sum = 0
for i in range(10):
    sum += i
sum

45

In [4]:
11//3 , 11%3

(3, 2)

In [5]:
type(1)

int

In [6]:
int(1.0)

1

In [7]:
type('hello')

str

In [8]:
'''sd'''

'sd'

In [10]:
'나는'+"student"+'입니다'

'나는student입니다'

In [13]:
for i in range(50):
    print('*')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [15]:
for i in range(1,6):
    print(str(i)*i)

1
22
333
4444
55555

In [16]:
s = 'i am Tom'

In [18]:
s[0], s[-1], s[-2]

('i', 'm', 'o')

In [19]:
s[2:5]

'am '

In [21]:
s[-5:]

'm Tom'

In [22]:
s[:]

'i am Tom'

In [24]:
'My age is %d' %18

'My age is 18'

In [28]:
'%d %f' %(2.5,2.5)

'2 2.500000'

In [29]:
len('I am Tom')

8

In [30]:
s = 'apple\torange\dog'

In [41]:
s.find('k')

-1

In [42]:
s.index('k')

ValueError: substring not found

In [43]:
a = [[1,2],[3,4],[5,6]]

In [44]:
len(a)

3

In [45]:
type(a)

list

In [49]:
l = [1,2,3] +[4,5]

In [50]:
l

[1, 2, 3, 4, 5]

In [54]:
l = []
for i in range(100):
    l.append(0)

In [59]:
tmp = [3,2,5,4,1]
t = tmp.copy()

In [61]:
sorted(t)

[1, 2, 3, 4, 5]

In [64]:
for i in tmp:
    print(i)

3
2
5
4
1

In [65]:
tmp = [0,1,2,3,4]

In [72]:
for i in tmp:
    print(' '*(4-i)+'*'*(2*i+1))

    *
   ***
  *****
 *******
*********

In [76]:
for i in tmp:
    print(' '*i + '*'*(9-2*i))

*********
 *******
  *****
   ***
    *

In [77]:
list = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]

In [78]:
list

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [79]:
t = (1,2,3,4,5)

In [80]:
t

(1, 2, 3, 4, 5)

In [81]:
type(t)

tuple

In [82]:
(1)

1

In [83]:
(1,)

(1,)

In [84]:
t = (1,2,3)

In [86]:
dic = {'a':1,'b':-1, 'c':99}

In [87]:
dic['a']

1